<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <%- include('../includes/nav.ejs') %>

    <main>
        <%# Check if there are any products to display %>
        <% if (prods.length > 0 ) {%>
            <div class="grid">
                <%# Loop through each element in the prods array %>
                <%# 'let product' creates a variable for each item, 'of prods' iterates over the array %>
                <%# Alternative: prods.forEach(function(product) { ... }) %>
                <% for (let product of prods) { %>
                    <article class="card product-item">
                        <header class="card__header">
                            <h1 class="product__title"><%= product.title %></h1>
                        </header>
                        <div class="card__image">
                            <img src="https://media.istockphoto.com/id/1443209389/vector/books-doodle-drawings.jpg?s=612x612&w=0&k=20&c=u3HV_lYZ27t2Ud7YLpcnhLngv0M4atL3Gh_4kzTFkUE=" alt="A Book">
                        </div>
                        <div class="card__content">
                            <h2 class="product__price">$19.99</h2>
                            <p class="product__description">A very interesting book about so many even more interesting things!</p>
                        </div>
                        <div class="card__actions">
                            <button class="btn">Add to Cart</button>
                        </div>
                    </article>
                <% } %>
            </div>
        <%# If no products exist, display a fallback message %>
        <% } else { %>
            <h1>No Products Found!!</h1>
        <% } %>
    </main>
<%- include('../includes/end.ejs') %>